<h1 class="center"><%= t "layouts.admin.subject_mangement" %></h1>
<hr>
<%= render "shared/search_form" %>
<hr>
<div class="row">
  <div id="nav_subject">
    <%= render "subject_form" %>
  </div>
  <div id="subject_section">
    <%= render @subjects %>
  </div>
  <div id="nav_subject_edit">
  </div>
</div>
