<% provide :title, t("titles.home") %>
<div class="center jumbotron">
  <h2 class="text-danger"><%= t "static_pages.hello" %></h2>
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if user_signed_in? %>
      <a href="<%= user_path(current_user) %>">
        <span class="glyphicon glyphicon-bookmark dashboard">
          <b><%= link_to current_user.name, user_path(current_user) %></b>
        </span>
      </a>
    <% end %>
  </div>
  </div>
</div>
