<% if object.errors.any? %>
  <div class="text-danger">
    <h2><%= pluralize object.errors.count, t("error") %> :</h2>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
