<h1 class="center"><%= t "layouts.admin.course_mangement" %></h1>
<h1 class="center"><%= link_to t("buttons.admin.course.create"),
  new_admin_course_path, class: "btn btn-success" %></h1>
<ul class="users">
  <%= render "shared/search_form" %>
  <div id="courses">
    <%= render @courses %>
  </div>
  <hr>
</ul>
